[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==0.9.6"
flask_script = "==2.0.6"
gunicorn = "==19.7.1"
pyflakes = "==1.6.0"
requests = "==2.20.0"
flask_cors = "*"
flask = "*"
mongoengine = "*"
itsdangerous = "*"
pip = "*"
"urllib3" = "*"
apscheduler = "*"
geopy = "*"
black = "*"

[dev-packages]
"flake8" = "*"
black = "==18.6b4"
mypy = "*"
pytest = "*"
